/*
 * Copyright (c) 2024 Marko Vejnovic
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f412Xg.dtsi>
#include <st/f4/stm32f412r(e-g)tx-pinctrl.dtsi>

/ {
    model = "Biologger Logger Board";
    compatible = "markovejnovic,biologger";

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

    gnss_disable: gnss_disable {
        compatible = "gnss-switch";
        gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
        status = "okay";
    };

    tsic_506: tsic_506 {
        status = "okay";
        compatible = "ist,tsic-xx6";
        pwms = <&pwm2 1 PWM_USEC(5) PWM_POLARITY_NORMAL>;
        data-bits = <11>;
        lower-temperature-limit = <(-10)>;
        higher-temperature-limit = <60>;
    };

    leds: leds {
        compatible = "gpio-leds";

        status_led: led_0 {
            gpios = <&gpiob 10 GPIO_ACTIVE_LOW>;
            label = "Status LED";
            status = "okay";
        };

        warning_led: led_1 {
            gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
            label = "Warning LED";
            status = "okay";
        };
    };

    ximpedance_amp: ximpedance_amp {
        compatible = "ximpedance_amp";
        status = "okay";
        adc = <&ads1115_adc>;
    };

    aliases {
        board-usart-1 = &usart1;
        board-usart-2 = &usart6;
        board-usart-3 = &usart3;
        trutime-clock = &rtc;
    };
};

&clk_hse {
	/delete-property/ hse-bypass;
	clock-frequency = <DT_FREQ_M(25)>; // External 25MHz clock.
	status = "okay";
};

&clk48 {
	/* select one source for the clk48MHz domain clock */
/*	clocks = <&rcc STM32_SRC_PLL_Q CK48M_SEL(0)>;   */
	clocks = <&rcc STM32_SRC_PLLI2S_Q CK48M_SEL(1)>;
	status = "okay";
};

&clk_lse {
    /delete-property/ lse-bypass;
    clock-frequency = <32768>; // External 32.768kHz clock.
    status = "okay";
};

&plli2s {
	div-m = <25>;
	mul-n = <384>;
	div-q = <8>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&pll {
	div-m = <25>;
	mul-n = <384>;
    // TODO(markovejnovic): This could, in theory be bumped up to 4 to help
    // boost the APB2 clock domain, but causes the SDMMC clock to be unusable.
    // That cock should be moved to the PLL48CLK domain.
	div-p = <8>;
	div-q = <8>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&clk_hse>;
    // Under no circumustance can you change SYSCLK to be anything greater than
    // 25MHz. As it stands, the SDIO lines are very poorly designed and cannot
    // withstand this high frequency. Even 25MHz is too much and I don't know
    // how to fix it.
	clock-frequency = <DT_FREQ_M(25)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
    // Note that the APB2 clock domain should NOT be very high. The board
    // layout is not good enough to support 50MHz on the SDIO lines.
	apb2-prescaler = <8>;
};

&iwdg {
    status = "okay";
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <9600>;
	status = "okay";
};

&usart6 {
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	pinctrl-names = "default";
	current-speed = <9600>;
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pc10 &usart3_rx_pc11>;
	pinctrl-names = "default";
	current-speed = <38400>;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <9600>;
	status = "okay";

    gnss: gnss-nmea-generic {
        compatible = "gnss-nmea-generic";
    };
};

&sdmmc1 {
	clocks = <&rcc STM32_CLOCK(APB2, 11U)>,
	/* select one source for the sdmmc domain clock */
		 <&rcc STM32_SRC_SYSCLK SDIO_SEL(1)>; 
	/*	 <&rcc STM32_SRC_CK48 SDIO_SEL(0)>;    */
    pinctrl-0 = <&sdio_d0_pc8 &sdio_ck_pc12 &sdio_cmd_pd2>;
    pinctrl-names = "default";
    disk-name = "SD";
    clk-div = <24>;
    status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";
};

&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa0>;
		pinctrl-names = "default";
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

    ads1115_adc: ads1115_adc@48 {
        status = "okay";
        compatible = "ti,ads1015";
		reg = <0x48>;
		#io-channel-cells = <1>;
		#address-cells = <1>;
		#size-cells = <0>;

        io-channels = <&ads1115_adc 0>;
        io-channel-names = "A0";

		channel@0 {
			reg = <0>;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <11>;
		};
    };
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};
